# Ignore node_modules directory
node_modules/

#Ignore folder .next
.next

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Build output directories
/bin,
/out 
/target

#variaveis de ambientes
.env