body {
    background-color: rgb(7, 7, 7);
    color: #857f7a;
    height: 100vh;
}

header {
    height: 4em;
}

.contener-logo-campo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.campodepesquisa {
    height: 30px;
    width: 35%;
    border-color: transparent;
    background: transparent;
    border-radius: 10px;
}

.icone-pesquisar {
    position: absolute;
    left: 66%;
}


#tres-pontinhos {
    cursor: pointer;
    font-size: 30px;
    margin-left: 4em;
}

#tres-pontinhos:hover {
    font-size: 30px;
    color: #353434;
    border-radius: 20px;
    background: #c0bbb8;
    border: solid #c0bbb8;
    opacity: 50%;
}

.contener-trespotinhos-adicionar {
    width: 100%;
    display: flex;
    justify-content: end;
}

.contener-adicionar {
    margin: 1em 1em 0 0;
    text-align: center;
    visibility: hidden;
    border: solid 3px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(40deg, #000000 60%, #300e2a);
    border-radius: 10px;
}

li {
    margin-top: 1em;
}

.adicionar-produtos-ao-site {
    text-decoration: none;
    color: #c0bbb8;
}

.fechar-menu-produtos {
    cursor: pointer;
    text-decoration: none;
    color: #c0bbb8;
}

.contener-main {
    height: 120vh;
}

.contener-adicionar-produto {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-50deg, #000000 30%, #181941, #081412);
}

.iniciar-secao {
    font-size: 25px;
    font-family: 'Arima', cursive;
}

.contener-upload {
    border: 7px dotted;
    border-width: 2px;
    padding: 15px;
    width: 160px;
    margin-left: 2em;
}

.input-escolher {
    background-color: #181941;
    opacity: 60%;
    border: transparent;
    border-radius: 5px;
}

.contener-escolher-adicionar {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contener-btn-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 40%;
}

.campo-nome-produto {
    opacity: 60%;
    border: transparent;
    border-radius: 5px;
    height: 40px;
}

.campo-preco-produto {
    opacity: 60%;
    border: transparent;
    border-radius: 5px;
    height: 40px;
}

.campo-descricao-produto {
    opacity: 60%;
    border: transparent;
    border-radius: 5px;
    height: 70px;
}

.btn-adicionar-produto {
    cursor: pointer;
    color: #857f7a;
    text-decoration: none;
    font-family: 'Arima', cursive;
    width: 80%;
    font-size: 18px;
    padding: 5px 15px;
    margin-left: 3em;
    border-radius: 10px;
    border-color: transparent;
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
}

.ancora-voltar-inicio {
    text-decoration: none;
    color: #857f7a;
}

.contener-popup {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
}

.popup {
    text-align: center;
    width: 40%;
    height: 30%;
    border-radius: 15px;
    position: fixed;
    top: 40%;
    left: 30%;
    background-color: #152f4d;
}

.popup-close {
    cursor: pointer;
    color: #000000;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
}

.descricao-popup {
    margin-top: 3em;
    font-size: 20px;
    font-family: 'Arima', cursive;
}

.btn-voltar-inicio {
    margin-top: 4em;
    cursor: pointer;
    color: #857f7a;
    text-decoration: none;
    font-family: 'Arima', cursive;
    width: 50%;
    font-size: 15px;
    padding: 5px 15px;
    margin-left: 3em;
    border-radius: 10px;
    border-color: transparent;
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
}
