.contener-body {
    background-color: rgb(7, 7, 7);
    color: #857f7a;
    height: 100vh;
}

header {
    height: 4em;
}

.contener-logo-campo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.campodepesquisa {
    height: 30px;
    width: 35%;
    border-color: transparent;
    background: transparent;
    border-radius: 10px;
}

.icone-pesquisar {
    position: absolute;
    left: 66%;
}

#tres-pontinhos {
    cursor: pointer;
    font-size: 30px;
    margin-left: 4em;
}

#tres-pontinhos:hover {
    font-size: 30px;
    color: #353434;
    border-radius: 20px;
    background: #c0bbb8;
    border: solid #c0bbb8;
    opacity: 50%;
}

.contener-trespotinhos-adicionar {
    width: 100%;
    display: flex;
    justify-content: end;
}

.contener-adicionar {
    margin: 1em 1em 0 0;
    text-align: center;
    visibility: hidden;
    border: solid 3px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(40deg, #000000 60%, #300e2a);
    border-radius: 10px;
}

h2 {
    margin-top: 1em;
}

.adicionar-produtos-ao-site {
    text-decoration: none;
    color: #c0bbb8;
}

.contener-produto-informacao {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 5rem;
    width: 100%;
}

.imagem-camera-fujifilm {
    border-radius: 20px;
    width: 640px;
    height: 359px;
}

.imagemCamera {
    border-radius: 20px;
    width: 24em;
    height: 14em;
}

.produto-camera {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

.contener-informacoes-adicionais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4em;
}

.nome-produto {
    font-size: 50px;
}

.preco-produto {
    font-size: 30px;
    margin-bottom: 3em;
}

.btn-compar {
    cursor: pointer;
    color: #454553;
    font-size: 22px;
    margin-bottom: 4em;
    border-radius: 5px;
    border: transparent;
    background: linear-gradient(40deg, #120d16, #193a5f);
}

.btn-compar:hover {
    font-size: 23px;
}

.informacoes-produto {
    margin-bottom: 5em;
    font-size: 18px;
}

.btn-saiba-mais {
    cursor: pointer;
    color: #86898d;
    font-size: 17px;
    margin-top: 2em;
    border-radius: 5px;
    border: transparent;
    background: linear-gradient(40deg, #120d16, #193a5f);
}

.contener-nome-produtos-similares {
    font-size: 35px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contener-produtos-similares {
    display: flex;
    justify-content: space-around;
}


.rodape {
    height: 20em;
}

.contener-logo-rodape {
    width: 210px;
    height: 100%;
    display: flex;
    align-items: center;
}

.contener-informacoes-adicionai {
    height: 100%;
    width: 150px;
}

li {
    margin-top: 2em;
}

.contener-all {
    background: linear-gradient(90deg, #000000 50%, #16295e);
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.contener-foormulario {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}

.input-nome {
    height: 25px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

.input-mensagem {
    height: 60px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

.btn-enviar {
    color: #857f7a;
    width: 60%;
    margin-left: 4em;
    border-radius: 5px;
    border: transparent;
    background: linear-gradient(40deg, #120d16, #193a5f);
}

.btn-enviar:hover {
    width: 62%;
}

.ancora-voltar-inicio {
    text-decoration: none;
    color: #aca6a2;
}

.contener-popup {
    position: fixed;
    top: 150px;
    width: 100%;
    height: 450px;
    text-align: center;
    visibility: hidden;
}

.popup {
    text-align: center;
    width: 40%;
    height: 30%;
    border-radius: 15px;
    position: fixed;
    top: 40%;
    left: 30%;
    background-color: #152f4d;
}

.popup-close {
    cursor: pointer;
    color: #000000;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
}

.descricao-popup {
    color: #aca6a2;
    margin-top: 3em;
    font-size: 20px;
    font-family: 'Arima', cursive;
}

.btn-voltar-inicio {
    margin-top: 2em;
    cursor: pointer;
    color: #aca6a2;
    text-decoration: none;
    font-family: 'Arima', cursive;
    width: 50%;
    font-size: 18px;
    padding: 5px 15px;
    margin-left: 3em;
    border-radius: 10px;
    border-color: transparent;
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
}

.contner-desenvolvedor {
    text-align: center;
    background: linear-gradient(90deg, #000000 50%, #16295e);
}