.contener-body {
    background-color: rgb(7, 7, 7);
    color: #857f7a;
    height: 150vh;
}

header {
    height: 4em;
}

.contener-logo-campo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.campodepesquisa {
    height: 30px;
    width: 35%;
    border-color: transparent;
    background: transparent;
    border-radius: 10px;
}

.icone-pesquisar {
    position: absolute;
    left: 84%;
}

.contener-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}