@media screen and (max-width: 480px) {

    .contener__cabecalho {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
    }

    .cabecalho__logo {
        height: 30px;
        width: 80px;
    }

    
.cabecalho__input {
    border-radius: 10px;
    height: 30px;
    width: 120px;
}

.cabecalho__icone {

    left: 58%;
    position: absolute;
}

.cabecalho__ancora {
    text-align: center;
}

.cabecalho__btn {
    text-align: center;
    height: 30px;
    width: 60px;
    font-size: 14px;
}

.cabecalho__btn:hover {
    height: 31px;
    width: 61px;
}

.cabecalho__btn:active {
    height: 29px;
    width: 59px;
}


.contener__menu {
    display: flex;
    justify-content: end;
    width: 100%;
}

.menu__adicionar {
    height: 120px;
    margin: 1em 1em 0 0;
    position: absolute;
    text-align: center;
    width: 150px;
}

.menu__item {
    font-size: 14px;
    margin-top: 2em;
    text-align: center;
}

.contener__banner {
    height: 180px;
    width: 98%;
}

.banner__imagem {
    border-radius: 10px;
    height: 150px;
    width: 98%;
}

.banner__ancora:active {
    font-size: 15px;
}

.banner__btn {
    font-size: 14px;
    width: 100px;
    height: 27px;
    position: absolute;
    top: 190px;
    left: 120px;
}

.banner__btn:hover {
    height: 28px;
    width: 101px;
}

.banner__btn:active {
    height: 26px;
    width: 99px;
}

.contener__categoria {
    height: 150px;
    width: 300px;
}

.categoria__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-around;
    width: 70px;
}

.item__imagens--height {
    height: 66%;
}

.item__imagem {
    height: 40px;
    width: 40px;
}

.item__imagem:hover {
    height: 41px;
    width: 41px;
}

.item__imagem:active {
    height: 39px;
    width: 39px;
}

.item__nome {
    width: 30px;
    height: 20px;
    font-size: 14px;
}

.item__nome:hover {
    font-size: 15px;
}

.item__nome:active {
    font-size: 13px;
}

.contener__telescopio {
    height: 1200px;
    margin-bottom: 3em;
}

.telescopio__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.titulo__nome {
    width: 120px;
    cursor: default;
    font-size: 22px;
    margin-left: 1em;
}

.titulo__nome:hover {
    font-size: 23px;
}

.titulo__btn {
    height: 45px;
    width: 50px;
    margin-right: 1em;
}

.titulo__btn:hover {
    height: 46px;
    width: 51px;
}

.titulo__btn:active {
    height: 44px;
    width: 49px;
}

#titulo__seta {
    cursor: default;
    font-size: 30px;
    position: absolute;
    right: 10px;
}

#titulo__seta:hover {
    font-size: 31px;
}

.telescopios__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__refrator {
    height: 350px;
}

.refrator__imagem {
    height: 130px;
    width: 200px;
}

.contener__binoculos {
    height: 1200px;
    margin-bottom: 3em;
}

.binoculos__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.binoculos__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__binoculos--size {
    height: 350px;
}

.binoculos__imagem {
    height: 130px;
    width: 200px;
}

.contener__camera {
    height: 1200px;
    margin-bottom: 3em;
}

.camera__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.camera__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__camera--size {
    height: 350px;
}

.camera__imagem {
    height: 130px;
    width: 200px;
}

.contener__astronomicas {
    height: 1300px;
    margin-bottom: 3em;
}

.astronomicas__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.astronomicas__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__astronomicas--size {
    height: 400px;
}

.astronomicas__imagem {
    height: 130px;
    width: 200px;
}

.astronomicas__produto {
    text-align: center;
    margin-left: 1em;
}

.rodape {
    width: 100%;
    height: 850px;
}

.rodape__contener {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contener__logo {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo__imagem {
    width: 180px;
    height: 50px;
}

.contener__informacoes {
    width: 90%;
    height: 540px;
    display: flex;
    justify-content: space-evenly;
}

.informacoes__item {
    height: 30px;
    width: 150px;
    font-size: 14px;
}

.imagens__autorais {
    height: 25px;
}

.imagens__autorais:hover {
    font-size: 19px;
}

.contener__formulario {
    margin-top: 1em;
    width: 90%;
   text-align: center;
}

.formulario__comunique {
    margin-left: 2em;
    width: 80%;
    text-align: center;
}

.formulario__nome {
    width: 80%;
    margin-left: 2em;
}

.formulario__mensagem {
    width: 80%;
    margin-left: 2em;
}


.contener__popup {
    height: 450px;
    position: fixed;
    text-align: center;
    top: 150px;
    visibility: hidden;
    width: 100%;
}

.popup {
    height: 30%;
    left: 20%;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 55%;
}

.popup__close {
    cursor: pointer;
    font-size: 20px;
    top: 10px;
}

.popup__close:hover {
    font-size: 21px;
}

.popup__close:active {
    font-size: 19px;
}

.popup__descricao {
    font-size: 15px;
    line-height: 20px;
}

.popup__btn {
    cursor: pointer;
    font-size: 18px;
    margin-top: 1em;
    margin-left: 0;
    padding: 5px 8px;
    text-decoration: none;
    width: 50%;
}

.popup__btn:hover {
    height: 37px;
    width: 51%;
}

.popup__btn:active {
    height: 34px;
    width: 49%;
}

.main__btns {
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

}