@media screen and (max-width: 480px) {

    .contener__cabecalho {
        display: flex;
        justify-content: space-around;
    }

    .cabecalho__logo {
        height: 30px;
        width: 80px;
    }

    
.cabecalho__input {
    border-radius: 10px;
    height: 30px;
    width: 120px;
}

.cabecalho__icone {

    left: 55%;
    position: absolute;
}

.cabecalho__ancora {
    text-align: center;
}

.cabecalho__btn {
    text-align: center;
    height: 30px;
    width: 60px;
    font-size: 14px;
}

.contener__banner {
    height: 180px;
    width: 98%;
}

.banner__imagem {
    border-radius: 10px;
    height: 150px;
    width: 98%;
}

.banner__btn {
    font-size: 14px;
    width: 100px;
    height: 27px;
    position: absolute;
    top: 190px;
    left: 120px;
}

.banner__btn:active {
    height: 26px;
    width: 99px;
}

.contener__categoria {
    height: 150px;
    width: 300px;
}

.categoria__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-around;
    width: 70px;
}

.item__imagens--height {
    height: 66%;
}

.item__imagem {
    height: 40px;
    width: 40px;
}

.item__imagem:active {
    height: 39px;
    width: 39px;
}

.item__nome {
    width: 30px;
    height: 20px;
    font-size: 14px;
}

.item__nome:active {
    font-size: 13px;
}

.contener__telescopio {
    height: 1200px;
    margin-bottom: 3em;
}

.telescopio__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.titulo__nome {
    cursor: default;
    font-size: 22px;
    margin-left: 1em;
}

.titulo__btn {
    height: 45px;
    width: 50px;
    margin-right: 1em;
}

.titulo__btn:active {
    height: 44px;
    width: 49px;
}

#titulo__seta {
    cursor: default;
    font-size: 30px;
    position: absolute;
    right: 10px;
}

#titulo__seta:hover {
    font-size: 31px;
}

.telescopios__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__refrator {
    height: 350px;
}

.refrator__imagem {
    height: 130px;
    width: 200px;
}

.contener__binoculos {
    height: 1200px;
    margin-bottom: 3em;
}

.binoculos__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.binoculos__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__binoculos--size {
    height: 350px;
}

.binoculos__imagem {
    height: 130px;
    width: 200px;
}

.contener__camera {
    height: 1200px;
    margin-bottom: 3em;
}

.camera__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.camera__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__camera--size {
    height: 350px;
}

.camera__imagem {
    height: 130px;
    width: 200px;
}

.contener__astronomicas {
    height: 1300px;
    margin-bottom: 3em;
}

.astronomicas__titulo {
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.astronomicas__contener {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.contener__astronomicas--size {
    height: 400px;
}

.astronomicas__imagem {
    height: 130px;
    width: 200px;
}

.astronomicas__produtos {
    text-align: center;
}

.rodape {
    width: 100%;
    height: 800px;
}

.rodape__contener {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contener__logo {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo__imagem {
    width: 180px;
    height: 50px;
}

.contener__informacoes {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.informacoes__item {
    font-size: 14px;
}

.contener__formulario {
    width: 90%;
   text-align: center;
}

.formulario__comunique {
    margin-left: 2em;
    width: 80%;
    text-align: center;
}

.formulario__nome {
    width: 80%;
    margin-left: 2em;
}

.formulario__mensagem {
    width: 80%;
    margin-left: 2em;
}


}