.corpo {
    background-color: #000000;
    color: #857f7a;
    font-size: 18px;
}

.contener__cabecalho {
    display: flex;
     width: 100%;
}

.cabecalho__input {
    background: transparent;
    border-color: transparent;
    border-radius: 10px;
}

.cabecalho__ancora {
    text-decoration: none;
}

.cabecalho__btn {
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
    border-color: transparent;
    border-radius: 10px;
    color: #c0bbb8;
    cursor: pointer;
    font-family: 'Arima', cursive;
}


.cabecalho__btn:hover {
    height: 37px;
    width: 79px;
}

.cabecalho__btn:active {
    height: 33px;
    width: 75px;
}

.pontinhos__icone {
    cursor: pointer;
}

.pontinhos__icone:hover {
    background: #c0bbb8;
    border-radius: 20px;
    border: solid #c0bbb8;
    color: #353434;
    opacity: 50%;
}

.pontinhos__icone:active {
    height: 26px;
    width: 26px;
}

.contener__menu {
    display: flex;
    justify-content: end;
    width: 100%;
}

.menu__adicionar {
    background: linear-gradient(40deg, #000000 60%, #300e2a);
    border-radius: 10px;
    border: solid 3px;
    position: absolute;
    visibility: hidden;
}

.menu__ancora {
    color: #c0bbb8;
    text-decoration: none;
}

.banner__imagem {
    border-radius: 10px;
}

.banner__ancora {
    text-decoration: none;
}

.banner__btn {
    background-color: #3e87da;
    border-radius: 8px;
    border: transparent;
    color: #aca6a2;
    position: absolute;
}

.banner__btn:hover {
    height: 41px;
    width: 151px;
}

.banner__btn:active {
    height: 39px;
    width: 149px;
}

.contener__categoria {
    display: flex;
    width: 100%;
}

.categoria__item {
    display: flex;
}

.item__imagem {
    border-radius: 60px;
    display: flex;
}

.item__nome {
    color: #c0bbb8;
    text-decoration: none;
}

.telescopio__titulo {
    display: flex;
}

.titulo__nome {
    cursor: default;
}

.titulo__ancora {
    text-decoration: none;
}

.titulo__btn {
    background: linear-gradient(40deg, #222121, #303164);
    border-radius: 10px;
    color: #aca6a2;
}

#titulo__seta {
    position: absolute;
}

.telescopios__contener {
    display: flex;
}

.contener__refrator {
    display: flex;
}

.refrator__imagem {
    border-radius: 20px;
}

.refrator__descricao {
    font-size: 20px;
}

.refrator__preco {
    color: #ffff;
}

.refrator__ancora {
    text-decoration: none;
}

.refrator__btn {
    background-color: #0a66ce;
    border-radius: 8px;
    color: #000;
}

.contener__binoculos {
    margin-bottom: 2em;
    margin-top: 1em;
}

.binoculos__titulo {
    display: flex;
}

.binoculos__contener {
    display: flex;
}

.contener__binoculos--size {
    display: flex;
}

.binoculos__imagem {
    border-radius: 20px;
}

.binoculos__produto {
    font-size: 20px;
}

.binoculos__preco {
    color: #ffff;
}

.binoculos__ancora {
    text-decoration: none;
}

.binoculos__btn {
    color: #000;
    background-color: #0a66ce;
    border-radius: 8px;
}

.contener__camera {
    width: 100%;
}

.camera__titulo {
    display: flex;
}

.camera__contener {
    display: flex;
}

.contener__camera--size {
    display: flex;
}

.camera__imagem {
    border-radius: 20px;
}

.camera__produto {
    font-size: 20px;
}

.camera__preco {
    color: #ffff;
}

.camera__ancora {
    text-decoration: none;
}

.camera__btn {
    color: #000;
    background-color: #0a66ce;
    border-radius: 8px;
}

.contener__astronomicas {
    margin-bottom: 4em;
    margin-top: 3em;
}

.astronomicas__titulo {
    display: flex;
}

.astronomicas__contener {
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 100%;
}

.contener__astronomicas--size {
    display: flex;
}

.astronomicas__imagem {
    border-radius: 20px;
}

.astronomicas__produto {
    font-size: 20px;
}

.astronomicas__preco {
    color: #ffff;
}

.astronomicas__ancora {
    text-decoration: none;
}

.astronomicas__btn {
    cursor: pointer;
    background-color: #0a66ce;
    border-radius: 8px;
}

.rodape__contener {
    background: linear-gradient(90deg, #000000 50%, #16295e);
    display: flex;
}

.contener__logo {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.informacoes__item {
    margin-top: 2em;
}

.imagens__autorais {
    color: #857f7a;
    font-size: 18px;
    text-decoration: underline;
}

.imagens__autorais:hover {
    font-size: 19px;
}

.imagens__autorais:active {
    font-size: 16px;
}

.contener__formulario {
    display: flex;
}

.formulario__comunique {
    font-size: 18px;
    text-align: center;
}

.formulario__nome {
    border-radius: 10px;
    border: transparent;
}

.formulario__mensagem {
    border-radius: 10px;
    border: transparent;
}

.formulario__btn {
    background: linear-gradient(40deg, #120d16, #193a5f);
    border-radius: 5px;
    border: transparent;
    color: #857f7a;
}

.contener__popup {
    position: fixed;
    visibility: hidden;
}

.popup {
    background: linear-gradient(40deg,#152f4d, #300e0e, #260366);
    border-radius: 15px;
    position: fixed;
}

.popup__close {
    color: #000000;
    position: absolute;
}

.popup__descricao {
    color: #aca6a2;
    font-family: 'Arima', cursive;
    font-size: 20px;
    margin-top: 3em;
}

.popup__ancora {
    color: #aca6a2;
    text-decoration: none;
}

.popup__btn {
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
    border-color: transparent;
    border-radius: 10px;
    color: #aca6a2;
    font-family: 'Arima', cursive;
    text-decoration: none;
}

.popup__btn:hover {
    height: 37px;
    width: 51%;
}

.contner__desenvolvedor {
    background: linear-gradient(90deg, #000000 50%, #16295e);
    display: flex;
}