.contener__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #000000;
    color: #857f7a;
}

header {
    height: 4em;
}

.cabecalho__logo {
    width: 250px;
    height: 65px;
}

.informacaodobnner {
    font-size: 20px;
}

.cabecalho__input {
    height: 30px;
    width: 35%;
    border-color: transparent;
    background: transparent;
    border-radius: 10px;

}

.cabecalho__icone {
    position: absolute;
    left: 65%;
}

.cabecalho__btn {
    font-family: 'Arima', cursive;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: transparent;
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
}

.cabecalho__btn:hover {
    width: 79px;
    height: 37px;
}

.cabecalho__btn:active {
    width: 75px;
    height: 33px;
}

.cabecalho__ancora {
    color: #c0bbb8;
    text-decoration: none;
}

.contener__potinhos {
    width: 30px;
    height: 30px;
}

.pontinhos__icone {
    cursor: pointer;
}

.pontinhos__icone:hover {
    color: #353434;
    border-radius: 20px;
    background: #c0bbb8;
    border: solid #c0bbb8;
    opacity: 50%;
}

.pontinhos__icone:active {
    width: 26px;
    height: 26px;
}

.contener__menu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.menu__adicionar {
    margin: 1em 1em 0 0;
    text-align: center;
    visibility: hidden;
    border: solid 3px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(40deg, #000000 60%, #300e2a);
    border-radius: 10px;
}

.menu__ancora {
    text-decoration: none;
    color: #c0bbb8;
}

.contener__menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.banner__imagem {
    border-radius: 10px;
    width: 100%;
    height: 25em;
}

.banner__btn {
    position: absolute;
    top: 26em;
    left: 39em;
    width: 5em;
    height: 3em;
    font-size: 15px;
    border: transparent;
    border-radius: 8px;
    background-color: #3e87da;
    cursor: pointer;
}

.banner__btn:hover {
    width: 77px;
    height: 47px;
}

.banner__btn:active {
    width: 72px;
    height: 42px;
}

.banner__ancora {
    color: #ffff;
    text-decoration: none;
}

.banner__btn:hover {
    width: 77px;
    height: 47px;
}

.banner__ancora:active {
    width: 72px;
    height: 42px;
}

.contener__categoria {
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.categoria__item {
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item__imagem {
    width: 7em;
    height: 7em;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}

.item__imagem:hover {
    width: 114px;
    height: 114px;
}

.item__imagem:active {
    width: 112px;
    height: 112px;
}

.item__nome {
    height: 8%;
    width: 100%;
    text-decoration: none;
    color: #c0bbb8;
    text-align: center;
}

.item__nome:hover {
    font-size: 17px;
}

.item__nome:active {
    font-size: 15px;
    text-decoration: none;
}

.contener__telescopio {
    width: 100%;
    height: 500px;
    margin: 1em 0;
}

.telescopio__titulo {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo__nome {
    cursor: default;
    font-size: 30px;
    margin-left: 4em;
}

.titulo__nome:hover {
    font-size: 31px;
}

.titulo__btn {
    width: 90px;
    height: 40px;
    font-size: 16px;
    margin-right: 8em;
    border-radius: 10px;
    background: linear-gradient(40deg, #222121, #303164);
}

.titulo__btn:hover {
    width: 92px;
    height: 42px;
}

.titulo__btn:active {
    width: 89px;
    height: 39px;
}

.titulo__ancora {
    text-decoration: none;
    color: #c0bbb8;
}

#titulo__seta {
    cursor: default;
    font-size: 35px;
    position: absolute;
    right: 70px;
}

#titulo__seta:hover {
    font-size: 37px;
}

.telescopios__contener {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.contener__refrator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.refrator__imagem {
    border-radius: 20px;
    width: 24em;
    height: 14em;
}

.refrator__descricao {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

.refrator__preco {
    margin-top: 2em;
    color: #ffff;
    margin-left: 2em;
}

.refrator__btn {
    border-radius: 8px;
    background-color: #0a66ce;
    margin-top: 2em;
    width: 30%;
    height: 40px;
    padding: 8px;
    margin-left: 30%;
    text-align: center;
}

.refrator__btn:hover {
    width: 119px;
}

.refrator__btn:active {
    width: 116px;
}

.refrator__ancora {
    color: #000;
    text-decoration: none;
}

.contener__binoculos {
    width: 100%;
    height: 480px;
    margin-top: 2em;
    margin-bottom: 4em;
}

.binoculos__titulo {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.binoculos__contener {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-around;
}

.contener__binoculos--size {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.binoculos__imagem {
    border-radius: 20px;
    width: 24em;
    height: 14em;
}

.binoculos__produto {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

.binoculos__preco {
    margin-top: 2em;
    color: #ffff;
    margin-left: 2em;
}

.binoculos__btn {
    border-radius: 8px;
    background-color: #0a66ce;
    margin-top: 2em;
    width: 30%;
    height: 40px;
    padding: 8px;
    margin-left: 30%;
    text-align: center;
}

.binoculos__btn:hover {
    width: 119px;
}

.binoculos__btn:active {
    width: 116px;
}

.binoculos__ancora {
    color: #000;
    text-decoration: none;
}

.contener__camera {
    width: 100%;
    height: 480px;
    margin-top: 3em;
    margin-bottom: 4em;
}

.camera__titulo {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.camera__contener {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-around;
}

.contener__camera--size {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.camera__imagem {
    border-radius: 20px;
    width: 24em;
    height: 14em;
}

.camera__produto {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

.camera__preco {
    margin-top: 2em;
    color: #ffff;
    margin-left: 2em;
}

.camera__btn {
    border-radius: 8px;
    background-color: #0a66ce;
    margin-top: 2em;
    width: 30%;
    height: 40px;
    padding: 8px;
    margin-left: 30%;
    text-align: center;
}

.camera__btn:hover {
    width: 119px;
}

.camera__btn:active {
    width: 116px;
}

.camera__ancora {
    color: #000;
    text-decoration: none;
}

.contener__astronomicas {
    width: 100%;
    height: 490px;
    margin-top: 3em;
    margin-bottom: 4em;
}

.astronomicas__titulo  {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.astronomicas__contener {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-around;
}

.contener__astronomicas--size {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.astronomicas__imagem {
    border-radius: 20px;
    width: 24em;
    height: 14em;
}

.astronomicas__produto {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

.astronomicas__preco {
    margin-top: 2em;
    color: #ffff;
    margin-left: 2em;
}

.astronomicas__btn {
    border-radius: 8px;
    background-color: #0a66ce;
    margin-top: 2em;
    width: 30%;
    height: 40px;
    padding: 8px;
    margin-left: 30%;
    text-align: center;
}

.astronomicas__btn:hover {
    width: 119px;
}

.astronomicas__btn:active {
    width: 116px;
}

.astronomicas__ancora {
    color: #000;
    text-decoration: none;
}

.rodape {
    height: 23em;
}

.rodape__contener {
    width: 100%;
    background: linear-gradient(90deg, #000000 50%, #16295e);
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.contener__logo {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.logo__imagem {
    width: 250px;
    height: 65px;
}

.contener__informacoes {
    height: 100%;
    width: 150px;
}

.imagens__autorais {
    text-decoration: underline;
    color: #857f7a;
    font-size: 18px;
}

.imagens__autorais:hover {
    font-size: 19px;
}

.imagens__autorais:active {
    font-size: 16px;
}

li {
    margin-top: 2em;
}

.contener__foormulario {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}

.formulario__nome {
    height: 25px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

.formulario__mensagem {
    height: 60px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

.formulario__btn {
    color: #857f7a;
    width: 60%;
    margin-left: 4em;
    border-radius: 5px;
    border: transparent;
    background: linear-gradient(40deg, #120d16, #193a5f);
}

.formulario__btn:hover {
    width: 62%;
}

.ancora-voltar-inicio {
    text-decoration: none;
    color: #aca6a2;
}

.contener-popup {
    position: fixed;
    top: 150px;
    width: 100%;
    height: 450px;
    text-align: center;
    visibility: hidden;
}

.popup {
    text-align: center;
    width: 40%;
    height: 30%;
    border-radius: 15px;
    position: fixed;
    top: 40%;
    left: 30%;
    background-color: #152f4d;
}

.popup-close {
    cursor: pointer;
    color: #000000;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
}

.descricao-popup {
    color: #aca6a2;
    margin-top: 3em;
    font-size: 20px;
    font-family: 'Arima', cursive;
}

.btn-voltar-inicio {
    margin-top: 2em;
    cursor: pointer;
    color: #aca6a2;
    text-decoration: none;
    font-family: 'Arima', cursive;
    width: 50%;
    font-size: 18px;
    padding: 5px 15px;
    margin-left: 3em;
    border-radius: 10px;
    border-color: transparent;
    background: linear-gradient(70deg, #3f1d55, #0a66ce);
}

.contner-desenvolvedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5em;
    text-align: center;
    background: linear-gradient(90deg, #000000 50%, #16295e);
}